<ion-view view-title="About" hide-back-button="true" class="fc-theme">
  	<ion-content>
		<div class="list">
		  	<div class="item item-body">
		    	<img class="full-image" src="img/banner.jpg">
				<div class="row fc-selectable">
					<div>
						<h2>
							<strong>A plane ride could be to geoscience outreach what a planetarium is to astronomical outreach:</strong>
							<strong>the perfect venue for sharing big, awe inspiring ideas, with a view to match.</strong>
						</h2>
						<p>
							Flyover Country&trade; is a National Science Foundation funded mobile app for geoscience outreach and data discovery.
              The app analyzes a given path and caches relevant map data and points of interest (POI), saving them for offline use.
              By downloading only the data relevant to a particular path, cache sizes remain reasonable, allowing for a robust
              experience without an internet connection. Flyover Country&trade; exposes geologic maps, fossil localities, basic
              geographic information, georeferenced Wikipedia articles, and the user’s current location, speed, and altitude. More
              data sources are planned for the future. The Flyover Country concept is ideal for road trips, hiking, and other
              outdoor activities, functioning much as an electronic version of the Roadside Geology books. It can also act as a
              data discovery tool for researchers in the field.<br>
							<br>
              This material is based upon work supported by the National Science Foundation under grant numbers:
              <br>
              <strong>
                EAR-1541800<br>
                EAR-1405030<br>
                EAR-1551429<br>
                EAR-1338322<br>
                EAR-1550913<br>
                ICER-1643277
							</strong>
						</p>
					</div>
		    	</div>
		    	<!--<div class="row fc-selectable" ng-if="isDevice('ios')||isDevice('android')">
		    		<div class="col">
						<p>Please review our app!
							<button class="fc-button-review" ng-click="rateUs()">Review app</button>
						</p>
		    		</div>
		    	</div>-->
		    	<div class="row fc-selectable">
		    		<div>
						<p>
							<strong>Flyover Country&trade; is developed at the University of Minnesota by:</strong>
							<br>
				    		Shane Loeffler, Sijia Ai, Alex Morrison, Reed McEwan, Amy Myrbo
				    	</p>
				    	<p>
				    		Version number: 0.4.6
				    	</p>
              <p>
                Flyover Country collects anonymized usage data in order to
                analyze which features are being used. This data will only be
                used for developement of Flyover Country and will not be shared
                with any other groups.
                <br><br>
                Any opinions, findings, and conclusions or recommendations expressed in Flyover Country are those of the authors and do not necessarily reflect the views of the National Science Foundation.
              </p>
              <p>
                Application framework provided by Ionic under MIT license<br>
                Mapping library provided by Openlayers under FreeBSD license<br>
                Map tiles provided generously by ESRI and Stamen<br>
                Geologic and POI data provided by NSF funded repositories and Wikipedia
              </p>
			    	</div>
		    	</div>
		  	</div>


		<!--<div class="item tabs tabs-secondary tabs-icon-left">
			    <a class="tab-item" href="#">
			      <i class="icon ion-thumbsup"></i>
			      Like
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-chatbox"></i>
			      Comment
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-share"></i>
			      Share
			    </a>
			</div>-->
		</div>
  	</ion-content>
</ion-view>
