<ion-view class="fc-theme" view-title="">
    <ion-content>
        <ion-list class="fc-theme-list">
            <ion-item class="fc-list-item">
                <a href="#/app/cloud">
                    <div class="wth-item" style="background-image:url(img/clouds.jpg)">
                        <p class="wth-item-text">
                            Clouds
                        </p>
                    </div>
                </a>
            </ion-item>
            <ion-item class="fc-list-item">
                <a href="#/app/wth">
                    <div class="wth-item" style="background-image:url(img/landscape.jpg)">
                        <p class="wth-item-text">
                            Landscape
                        </p>
                    </div>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
