<ion-view class="fc-theme" view-title="Clouds">
    <ion-content>
        <ion-list class="fc-theme-list flex-container">
            <ion-item>
                <a href="#/app/cloudscontent/1">
                    <div class="row wth-item wth-item-sections" style="background-image:url(img/Cloud/section1.jpeg);">
                        <div align="center" class="col">
                            <div class="item-text-wrap">
                                <p class="wth-item-text-cloud">
                                    Clouds, and how to know them
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </ion-item>
            <ion-item>
                <a href="#/app/cloudscontent/2">
                    <div class="row wth-item wth-item-sections" style="background-image:url(img/Cloud/section2.jpeg)">
                        <div align="center" class="col">
                            <div class="item-text-wrap">
                                <p class="wth-item-text-cloud">
                                    Know your clouds
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </ion-item>
            <ion-item>
                <a href="#/app/cloudscontent/3">
                    <div class="row wth-item wth-item-sections" style="background-image:url(img/Cloud/section3.jpeg);">
                        <div align="center" class="col">
                            <div class="item-text-wrap">
                                <p class="wth-item-text-cloud">
                                    More information to make you cloud-smarter
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </ion-item>
            <ion-item>
  		      	<div class="row">
  		      		<div class="col">
  		      			<div class="item-text-wrap fc-selectable">
                    <b>Who wrote this stuff?</b><br>
                    Kenny Blumenfeld spent a few weeks trying to talk the app team out of it, but ultimately he agreed to write every single word you have read in this section. Kenny is a Ph.D. climatologist who has loved the weather as long as he has been alive, and who has spent far too many hours gazing at the clouds, undoubtedly to the considerable neglect of other important aspects of his own development. He works full-time in public-service climatology in Minnesota, but you also might occasionally find him by clicking the banner below.
  			      			<img ng-click="openInExternalBrowser()" style="width:100%; height:auto;" src="img/Cloud/wab.png"><br>
                    <img style="width:100%; height:auto;" src='img/Cloud/Kenny Saltation.jpg'>
  	      				</div>
  	      			</div>
  	      		</div>
  	      	</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
